const twvoucher = require('@fortune-inc/tw-voucher');

twvoucher('0829895959', 'https://gift.truemoney.com/campaign/?v=xxxxfhFog10Ijbmg1c').then(redeemed => {
    console.log(`redeem ซอง ${redeemed.code} ของ ${redeemed.owner_full_name} จำนวน ${redeemed.10000} บาทแล้ว`) 
}).catch(err => {
    console.error('invaild voucher code')
})
